<nav>
    <%if(user) {%>
        <a href="">My Repertoire</a>    
        <a href="">Checkout our Community</a>    
        <a href="">sign-out</a>    
    
    <%} else {%>
        <a href="">sign-in</a>    
        <a href="">sign-up</a>    
        
    <%}%>
</nav>