/* public/stylesheets/partials.css */
/* font-size: var(--font-size); */

.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 5px 60px;
    align-items: center;
    justify-content: space-between;

}
#nav-header {
    font-size: 40px;
    color: var(--second-color);
    font-weight: bold;
    /* size: 1em !important; */

}
.authlinks {
    text-decoration: none;
    color: var(--second-color);
    margin: 0 15px;
    font-weight: bolder;
    font-size: 20px;

}
.authlinks:hover {
    color: var(--third-color); 
}