@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --main-color: #dda15e;
    --secondary-color: #fefae0;
    --third-color: #588157;
}
body {
    font-family: 'Poppings', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.index-body{
    background-image: url('/assets/golderChoir.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.space{
    height: 200px;
}
.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    gap: 0;
}
#main-header {
    color: white;
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}
#sub-header{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.auth-links{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    

}
.signup-link,
.signin-link{
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0 4px 0;
    border-radius: 25px;
    width: 6.5em;
    text-align: center;
    height: 35px;
}
.signup-link{
    background-color: var(--third-color);
    color: white;
    margin: 0 20px 0 0;

}
.signin-link{
    background-color: var(--secondary-color);
    color: black;
}
.signup-link:hover {
    background-color: rgb(64, 78, 207);
    color: white;
}
.signin-link:hover {
    background-color: rgb(214, 126, 10);
    color: white;
}
.signup-container,
.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 20em;
    height: 50%;
    background-color: var(--third-color);
    color: white;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    font-weight: bold;
    
}
input{
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 8px;
}
button{
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 25px;
    margin: 15px 0;
    font-size: 1em;
    font-weight: bold;
}
.repertoire-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 90%;

}
.repertoire-header{

}